* {
  box-sizing: border-box;
}

.container {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
  border: 2px solid #000;
}


.wrapper::after {
  content: "";
  display: table;
  clear: both;
}
