#box {
    width: 200px;
    height: 100px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    background-color: lightgrey;
    border: 2px solid #ccc;
}

.box-highlight {
    background-color: yellow;
    color: red;
    border-color: red;
}

.box-small {
    font-size: 12px;
    width: 100px;
    height: 50px;
}
