<h1>Show table</h1>
<table>
    <thead>
        <tr>
            <th>B_Id </th>
            <th>Title</th>
            <th>Author</th>
            <th>p_year</th>
            <th>Genre</th>
        </tr>
    </thead>
</table>